@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="/js/jquery.scrollTo.js"></script>
<script src="/js/jquery.localscroll.js"></script>
<script src="/js/scripts.js"></script>
<div id="content-01">
    <div id="section-001">
        <div id="subpage-1">
            <div id="subpage-2">
                万修专业质量鉴定</br>
                送30天硬件保修
            </div>
            <div id="subpage-3">
                <p>
                    <span class="fixtext">万修拥有</span>国家一级质检工程师8名</br>
                </p>
                <span class="fixtext1"> 二级质检工程师18名 </span>
            </div>
            <div id="subpage-4"> <img src="/images/tool.png"></div>
            <div id="subpage-41"> <img src="/images/tool2.png"></div>
            <div id="subpage-5">
                <p>
                    权威检测，确保正品，<span class="fixtext2"> 确保如实描述。</span></br>
                </p>
                <p>另赠30天免费保修哦！</p>
            </div>
        </div>
    </div>
    <div id="section-002"> <img src="/images/process01.png"></div>
    <div id="section-003">
        <div id="slideshow">
            <ul>
                <li id="lambo1"><a href="#"><img src="/images/lambo2-1.jpg" alt="Green Lamborghini" /></a></li>
                <li id="lambo2"><a href="#"><img src="/images/lambo2-2.png" alt="White Lamborghini" /></a></li>
                <li id="lambo3"><a href="#"><img src="/images/lambo2-1.jpg" alt="Grey Lamborghini" /></a></li>
                <li id="lambo4"><a href="#"><img src="/images/lambo2-2.png" alt="Green Lamborghini" /></a></li>
                <li id="lambo5"><a href="#"><img src="/images/lambo2-1.jpg" alt="Yellow Lamborghini" /></a></li>
            </ul>
        </div>
        <div id="slideshow-nav">
            <ul>
                <li><a href="#lambo1"> </a></li>
                <li><a href="#lambo2"> </a></li>
                <li><a href="#lambo3"> </a></li>
                <li><a href="#lambo4"> </a></li>
                <li><a href="#lambo5"> </a></li>
            </ul>
        </div>
    </div>
    <div id="section-004">
        <div class="mainbox1">
            <div class="box4">
                <div class="box4_title1"><strong>鉴定说明</strong></div>
                <div class="box4_txt">
                    <p>
                        <br>
                        若鉴定通过：<br>
                        质检报告连同一个月保修单发往买家，万修发货后买家在七天内确认收货，超时系统会自动确认收货。如买家申请退货或出现疑问件，申请万修介入，万修在48小时内协助处理。鉴定不通过，系统下发短信告知，万修客服也会马上联系买卖双方。
                    </p>
                    <p>
                        <span>买方可选万修增值服务：（付费）</span><br />
                        1、延长保修<br />
                        2、专业贴膜
                    </p>
                    <p>
                        <span>关于邮费说明：</span><br />
                        万修鉴定邮费，由邮寄方出。即卖家发货到万修，卖家付费；万修发往买家，由万修付邮费； 若买方退货，买方付费。 <br />
                        注：通过鉴定的宝贝，万修默认发顺丰快递，如果不到，请拨打：400-6713-813联系我们变更。
                    </p>
                    <p>
                        <span>关于专业质量鉴定费用说明：</span><br />
                        专业质量鉴定费用30元，由买方支付，若交易不成功，鉴定费用返还给买家。
                    </p>
                    <p>
                        <span>以下情况视为交易不成功：</span><br />
                        1、买家付款后，卖家没有发货<br />
                        2、卖家发布的产品信息与鉴定报告不相符合，买家不同意交易，而交易终止<br />
                        注：买家收到货后的24小时内申请无理由退货，交易视为成功，30元鉴定费用不给予返还。
                    </p>
                </div>
                <div class="box4_title2"><strong>保修说明</strong></div>
                <div class="box4_txt">
                    <p>
                        <span>以下不属于30天保修：</span><br />
                        第一、万修螺丝标被损坏<br />
                        第二、物品存在不当使用或物品问题由广义上的非物品质量本身的外部原因造成损坏的，如进水、磕碰、受潮、挤压等。<br />
                        第三、由第三方维修过的。<br />
                        第四、有拆修过，和有功能问题的宝贝都是不在30天享受免费保修之内。
                    </p>
                    <p>
                        <span>万修价格保护政策：</span><br />
                        选择万修鉴定交易，若买家退货交易失败，卖家可选择以竞拍价（万修官方回收价）出售给万修，中间物品市场
                        价下跌，不影响售价。
                    </p>
                </div>
            </div>
        </div>
        <div class="mainbox2"> </div>
        <div class="mainbox3"> </div>
    </div>
    <div id="section-005"> </div>
    <div id="section-006"> </div>
</div>
