@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container ">
    <div class="nav">
        <!-- -->
        <div class="row liDetail">
            <div class="col-xs-4 col-sm-4 purchasefont"><span class="purchasefont"><span class="purchasefont-00" /><</span></div>
            <div class="col-xs-6 col-sm-4 purchasefont"><span class="purchasefont">我要购买>分类</span></div>
            <!-- -->
            <div class="col-xs-1 col-sm-4">
                <input type="button" value="&bull;&nbsp;&bull;&nbsp;&bull;" class="btn-click purchasefont1" onclick="test()" />
            </div>
        </div>
        <!-- -->
        <div class="page-header">
            @Html.Partial("~/Views/Shared/TopNav.cshtml")
        </div>
    </div>
    <div class="contant">
        <div class="list-phone">
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-6">
                    <div class="wx_menu">
                        <ul>
                            <li class="fl">
                                <a href="/Home/Search">
                                    <img src="/images/apple.png" class="img-responsive" alt="Responsive image">
                                    <p>全部</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-6">
                    <div class="wx_menu">
                        <ul>
                            <li class="fl">
                                <a href="/Home/Search?phonemodelid=1">
                                    <img src="/images/iphone4.png" class="img-responsive" alt="Responsive image">
                                    <p>iphone 4</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-6">
                    <div class="wx_menu">
                        <ul>
                            <li class="fl">
                                <a href="/Home/Search?phonemodelid=2">
                                    <img src="/images/iphone_4s.png" class="img-responsive" alt="Responsive image">
                                    <p>iphone 4s</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-6">
                    <div class="wx_menu">
                        <ul>
                            <li class="fl">
                                <a href="/Home/Search?phonemodelid=3">
                                    <img src="/images/iphone_5.png" class="img-responsive" alt="Responsive image">
                                    <p>iphone 5</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-6">
                    <div class="wx_menu">
                        <ul>
                            <li class="fl">
                                <a href="/Home/Search?phonemodelid=4">
                                    <img src="/images/iphone_5c.png" class="img-responsive" alt="Responsive image">
                                    <p>iphone 5c</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-6">
                    <div class="wx_menu">
                        <ul>
                            <li class="fl">
                                <a href="/Home/Search?phonemodelid=5">
                                    <img src="/images/iphone5s.png" class="img-responsive" alt="Responsive image">
                                    <p>iphone 5s</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-sm-5 col-md-6">
                    <div class="wx_menu">
                        <ul>
                            <li class="fl">
                                <a href="/Home/Search?phonemodelid=6">
                                    <img src="/images/iphone_6.png" class="img-responsive" alt="Responsive image">
                                    <p>iphone 6</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-6">
                    <div class="wx_menu">
                        <ul>
                            <li class="fl">
                                <a href="/Home/Search?phonemodelid=7">
                                    <img src="/images/iphone6_plus.png" class="img-responsive" alt="Responsive image">
                                    <p>iphone 6 plus</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

