@{
    ViewBag.Title = "Home Page";
}
<div class="container container1">
    <div class="main04">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-xs-9-logo1">
                <img src="/images/logo.png" class="col-xs-9-logo1" /><span class="logotext1">国内专业闲置手机交易平台</span>
            </div>
        </div>
        <a href="/Home/Category">
            <span class="btn btn-default btn-lg">
                <span class="glyphicon " aria-hidden="true"></span> 我要购买
            </span>
        </a><a href="/Consign/Index">
            <span class="btn btn-default btn-lg">
                <span class="glyphicon " aria-hidden="true"></span> 我要寄售
            </span>
        </a><a href="/User/Index">
            <span class="btn btn-default btn-lg">
                <span class="glyphicon " aria-hidden="true"></span> 个人中心
            </span>
        </a>
    </div><img src="/images/background.png" class="img-responsive" alt="Responsive image">
</div>