@using Webdiyer.WebControls.Mvc
@using _1Fix.Entity.Model
@model PagedList<CuSellPhoneOrder>
@{
    Layout = null;
}


<div class="row">
    <div class="col-md-6">
        <span class="total">共 @Model.TotalPageCount 页 @Model.TotalItemCount 条记录，当前为第 @Model.CurrentPageIndex 页</span>
    </div>
    <div class="col-md-6">
        @Ajax.Pager(Model,
            new PagerOptions
            {
                PageIndexParameterName = "PageIndex",
                CssClass = "paging",
                ShowFirstLast = true,
                AlwaysShowFirstLastPageNumber = true,
                ShowMorePagerItems = true,
                CurrentPagerItemWrapperFormatString = "<span class=\"current\">{0}</span>",
                NumericPagerItemWrapperFormatString = "<span class=\"item\">{0}</span>",
                NavigationPagerItemWrapperFormatString = "<span class=\"navigation\">{0}</span>"
            },
            new MvcAjaxOptions
            {
                UpdateTargetId = "divList",
                DataFormId = "divForm"
            }, new { id = "" })
    </div>
</div>
