@{
    ViewBag.Title = "TopNav";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}
<div id="topnav-1" style="height:70px;display:none;">
    <div class="row row-nav">
        <div class="col-xs-3 col-md-3 col-md-3-nav"> <a href="/Consign/Index" class="thumbnail-nav"> <img src="/images/bag1.png"> <span class="nav-text">我的寄售</span> </a> </div>
        <div class="col-xs-3 col-md-3 col-md-3-nav"> <a href="/Home/Search" class="thumbnail-nav"> <img src="/images/search_12.png"> <span class="nav-text">搜索</span> </a> </div>
        <div class="col-xs-3 col-md-3 col-md-3-nav"> <a href="/User/Index" class="thumbnail-nav"> <img src="/images/user_ 2.png"> <span class="nav-text">我的万修</span> </a> </div>
        <div class="col-xs-3 col-md-3 col-md-3-nav"> <a href="/Home/Index" class="thumbnail-nav"> <img src="/images/home_3.png"> <span class="nav-text">首页</span> </a> </div>
    </div>
</div>
